@import url('../../variables.css');
.aboutContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-100);
    align-self: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.aboutHeading{
    font-size: 40px;
    color: var(--text-300);
    font-weight: 600;
}
.aboutDescription{
    font-size: 20px;
    color: var(--text-200);
    font-weight: 400;
}
.aboutDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}