@import url('../../variables.css');
.aboutMeItem{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--bg-300);
    padding: 20px 40px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.aboutMeItem:hover{
    background-color: var(--bg-400);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.aboutMeItemTitle{
    font-size: 30px;
    color: var(--text-300);
    font-weight: 600;
    align-self: flex-start;
}
.aboutMeItemDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
    margin-left: 20px;
}
.aboutMeItemPoint{
    font-size: 20px;
    color: var(--text-200);
    font-weight: 400;
}