:root {
--primary-100:#1F3A5F;
--primary-200:#4d648d;
--primary-300:#acc2ef;
--accent-100:#3D5A80;
--accent-200:#cee8ff;
--text-100:#FFFFFF;
--text-200:#e0e0e0;
--text-300:#acc2ef;
--text-400:#cee8ff;
--text-500:#4d4d4d;
--text-600:#1a1a1a;
--text-700:#000000;
--bg-100:#0F1C2E;
--bg-200:#1f2b3e;
--bg-300:#374357;
--bg-400:#132135;

}   

